
.header{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    background-color:burlywood;
    width:fit-content;
    text-align: center;
}
  img{
    width:500px;
    height:400px;
    
  }
.two{
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
} 
.three{
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
}     
.four{
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
}
.five{
font-family: "Poppins", serif;
font-weight: 400;
font-style: normal;
}
  
